<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title></title>
        <meta name='description' content=''>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <link rel='stylesheet' href='second.css'>
       <script src='' async defer></script>
    </head>
    <body>
        <header>
            <h1>Second Page</h1>
        </header>

        <nav>
            <ul>
                <li><a href='/'>Home</a></li>
                <li><a href='/second'>Second</a></li>
            </ul>
        </nav>

        <article>
            <p>
                Text text text text text text text text text text text text text text text text.
                Text text text text text text text text text text text text text text text text.
                Text text text text text text text text text text text text text text text text.
                Text text text text text text text text text text text text text text text text.
                Text text text text text text text text text text text text text text text text.
            </p>
        </article>

        <footer>
            <p>Footer stuff</p>
        </footer>      
    </body>
</html>